---
layout: single
---


<p class="description">{{page.description}}</p>


{% if page.image %}
    <img src="{{site.baseurl}}/assets/img/{{page.category}}/{{page.image}}" class="recipe-image"/>
{%endif%}


<h2>Ingredients</h2>

{% for ingr in page.ingredients %}
    {% if ingr.title %}
        <h3 class="recipe-steptitle">{{ingr.title}}</h3>
    {%endif%}

    <ul>
        {% for i in ingr.steps %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>
{% endfor %}


<h2>Instructions</h2>

{% for instr in page.instructions %}
    {% if instr.title %}
        <h3 class="recipe-steptitle">{{instr.title}}</h3>
    {% endif %}

    <ol>
        {% for step in instr.steps %}
        <li>{{step}}</li>
        {% endfor %}
    </ol>
{% endfor %}
